/* Minecraft font */
@font-face {
	font-family: minecraftia;
	src: url( 'minecraftia.ttf' );
}

/* General page style */

body {
	height: 100%;
	font-family: minecraftia;
	font-size: 16px;

	background: url( '../media/gui/background.png' ) repeat;
}

/* Render surface */
#renderSurface {
	position: absolute;
	left: 0;
	top: 0;
	
	width: 100%;
	height: 100%;
}

/* Material selector */

#materialSelector {
	position: relative;
	margin: auto;
	
	background: rgba( 0, 0, 0, 0.6 );
}

#materialSelector tr {
	height: 70px;
}

#materialSelector td {
	width: 70px;
	margin: 0;
	padding: 0;
	
	cursor: pointer;
	
	opacity: 0.3;
	
	background: url( '../media/blockthumbs.png' );
	background-position: 0px 0px;
}

#materialSelector td:hover {
	opacity: 0.8;
}

/* Username input */

#nickname {
	position: absolute;
	top: 40%;
	left: 42%;
	
	width: 300px;
	
	cursor: default;
	
	color: #fff;
}

#nickname input {
	width: 100%;
	
	background: none;
	border: none;
	border-bottom: 1px solid #888;
	outline: none;
	
	color: white;
	
	font-family: minecraftia;
	font-size: 24px;
}

/* Join information */

#joininfo {
	position: absolute;
	top: 42%;
	
	width: 99%;
	
	cursor: default;
	
	text-align: center;
	color: #fff;
	font-size: 24px;
}

/* Chatbox */

#chatbox {
	position: absolute;
	left: 20px;
	bottom: 55px;
	
	width: 600px;
	height: 195px;
	overflow: hidden;
	
	padding-left: 10px;
	padding-right: 10px;
	
	cursor: default;
	
	background: rgba( 0, 0, 0, 0.6 );
	color: white;
}

#chatbox_text {
	position: absolute;
	bottom: 8px;
	
	text-shadow: none;
}

#chatbox_entry {
	position: absolute;
	left: 20px;
	bottom: 18px;
	
	width: 610px;
	height: 30px;
	
	padding-left: 10px;
	padding-bottom: 2px;
	
	background: rgba( 0, 0, 0, 0.6 );
	border: none;
	outline: none;
	
	color: white;
	font-family: minecraftia;
	font-size: 16px;
}

/* GUI design */

.Titlelogo {
	position: absolute;
	left: 50%;
	top: 10%;
	width: 512px;
	height: 256px;
	margin-left: -11%;

	background: url( '../media/gui/logo.png' ) no-repeat;
}

.menu {
	position: absolute;
	left: 50%;
	top: 50%;

	transform: translate(-50%, -50%);
	align-content: center;
	text-align: center;
}

.menu .Button {
	display: block;
	margin: 30px auto;
	
}

.Button { /*here goes the button style*/
	background: url('../media/gui/button.png') no-repeat;display: flex; 
	width: 200%;
	height: 100%;
	cursor: default;
	align-items: center;
	font-family: minecraftia;
	font-size: 16px;
	color: white;
	border: none;
	outline: none;
	filter: none;
	padding-left: auto;
	padding-right: auto;
}
.Button:hover {
	background: url('../media/gui/button_hover.png') no-repeat;
	cursor: default;
	filter: none;
	padding-left: 20%;
	padding-right: 20%;
}
.Button:disabled {
	background: url('../media/gui/button_disabled.png') no-repeat;
	cursor: default;
	filter: none;
	padding-left: 20%;
	padding-right: 20%;
}
.cursorPointer {
	background: url(/media/gui/cursor.png);
}
.versionString {
	position: absolute;
	bottom: 5px;
	left: 10px;
	
	color: #fff;
	font-size: 12px;
	
	text-shadow: #3f3f3f 1px 1px 0px;
}
.Copyrightstring {
	position: absolute;
	bottom: 5px;
	right: 10px;
	
	color: #fff;
	font-size: 12px;
	
	text-shadow: #3f3f3f 1px 1px 0px;
}
.separator {
	width: 100%;
	height: 4px;
	margin: 10px 0;
	background-size: contain;
}

.separator1 {
	width: 100%;
	height: 2px;
	margin: 10px 0;
}

.gui {
	position: absolute;
	left: 0;
	top: 0;
	
	width: 100%;
	height: 100%;
	
	pointer-events: none;
}
